$containerWidth: 1200px;
$headerHeight: 90px;

// colors
$yellow: #FFCC00;
$purple: #4C1357;
$lightPurple: #9747FF;
$black: #1A1A1A;
$errorColor: #ff3333;
$successColor: #2CFF34;


// fonts
$titleFont: 'Nunito';
$contentFont: 'Nunito';
$fontSize: 16px;

// breakpoints

$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 425px;