@use '../../../../sass/functions.scss';
@use '../../../../sass/vars.scss';

.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__top-section {
        flex: 1;
        display: flex;
        margin-bottom: 50px;
        
        @media (max-width: vars.$md) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__title-wrapper {
        @media (max-width: vars.$md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: functions.toRem(48px);
        font-weight: 600;
        margin-bottom: functions.toRem(11px);

        @media (max-width: vars.$md) {
            font-size: functions.toRem(40px); 
            margin-bottom: 5px;  
        }

        @media (max-width: vars.$xs) {
            font-size: functions.toRem(32px); 
        }
    }

    &__post-title {
        font-size: functions.toRem(24px);
        width: 460px;

        @media (max-width: vars.$md) {
            font-size: functions.toRem(20px);   
        }

        @media (max-width: vars.$sm) {
            width: auto;  
        }

        @media (max-width: vars.$xs) {
            font-size: functions.toRem(18px);   
        }
    }

    &__timer {
        align-self: center;
        padding-right: 50px;
        margin-left: auto;

        @media (max-width: vars.$md) {
            padding-right: 0px;
        }
    }
}